@model ZkCommunicate_.Models.Connect_deviceModel
@{
    ViewBag.Title = "Home Page";
}
<!-- Page level plugin CSS-->
<link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<div class="row">
    <div class="col-lg-3">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i>Connect Device
            </div>
            <div class="card-body">
                <form id="FrmConnect">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">IP</label>
                                @Html.TextBoxFor(model => model.Device_IP, new { @class = "form-control mb", @placeholder = "Enter Device IP Address", })
                                @Html.ValidationMessageFor(model => model.Device_IP, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Port</label>
                                @Html.TextBoxFor(model => model.Port, new { @class = "form-control mb", @placeholder = "Enter Device Port", })
                                @Html.ValidationMessageFor(model => model.Port, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="btnConnect" type="button" onclick="Connect();">Connect  <span style="text-align: center; display: none" id="LOADINGgif"><img  src="~/Images/ellipsis.gif"/></span> </button>
                </form>
            </div>
            <div class="card-footer small text-muted">
                  <label id="lblConnectError" class="control-label" style="color: #e83a3a"></label>
            </div>
        </div>
        </div>
        <div class="col-lg-9">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>Data Table Example
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Example DataTables Card-->


<!-- Page level plugin JavaScript-->
<script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="~/Scripts/js/site.datatables.min.js"></script>


<script>
    var Connect = function () {
        var myformdata = $("#FrmConnect").serialize();
        
        if (!$("#FrmConnect").valid()) {
            return false;
        }
        $("#LOADINGgif").show();
        $("#btnConnect").prop('value', 'Connecting');
        $.ajax({

            type: "POST",
            url: "/Home/ConnectToDevice",
            data: myformdata,
            success: function (result) {
                if (result == "Connected") {
                    $("#lblConnectError").text(result);
                    $("#LOADINGgif").hide();
                }
                else {
                    $("#lblConnectError").text(result);
                    $("#LOADINGgif").hide();
                }

            }

        })
    }
</script>
